{% extends "./base/base.html" %}
<!DOCTYPE html>

{% block mainblock %}

        <main>
          <div class="search_form"> 
          <form action="{% url 'polls:articles' %}" method="post">
            {% csrf_token %}
              <label for="name"></label>
              <input type="text" id="search_word" name="search_word" placeholder="Search word...">
            <input class="input_button" type="submit" value="Search">
          </form>
        </div>

          {% if topic_gen %}
          <h1><a href="{% url 'polls:articles' %}">Articles</a> > 「{{ topic_gen }}」の記事一覧</h1>
          {% endif %}
          {% if topic_list %} {% for topic in topic_list %}
          <article>
            <h2 class="article-title">
              <a href="{% url 'polls:detail' topic.id %}">{{ topic.title }}</a>
            </h2>
            <ul class="meta">
              <li><a href="#">{{ topic.pub_date }}</a></li>
              <li><a href="{% url 'polls:articles_genre' topic.genre %}">{{ topic.genre }}</a></li>
              <li><a>{{ topic.nice }} いいね!</a></li>
            </ul>

            <p class="text">{{ topic.topic_text | linebreaksbr }}</p>

            <div class="readmore">
              <a href="{% url 'polls:detail' topic.id %}">READ MORE</a>
              
            </div>
            
          </article>
          {% endfor %} {% endif %}
        </main>
{% endblock %}
