{% load static %}

<head>
  <link
    rel="stylesheet"
    type="text/css"
    href="{% static 'polls/style.css' %}"
  />
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script
    async
    src="https://www.googletagmanager.com/gtag/js?id=G-2QWC1P8ZTE"
  ></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() {
      dataLayer.push(arguments);
    }
    gtag("js", new Date());

    gtag("config", "G-2QWC1P8ZTE");
  </script>
</head>

<body>
  <h2 class="home-title">Website...</h2>
  {% if topic_list %}
  <ul class="topic_list">
    {% for topic in topic_list %}
    <li>
      <a href="{% url 'polls:detail' topic.id %}">{{ topic.topic_text }}</a>
    </li>
    {% endfor %}
  </ul>
  {% else %} {% endif %}

  <h3>Click on the topic you are interested in.</h3>
</body>
