{% extends "./base/base.html" %}
<!DOCTYPE html>

{% block mainblock %}
        <main>
          <article>
            <h2 class="article-title">
              <a href="">PLOFILE</a>
            </h2>
            <p class="text">{{ profile_text }}</p>
          </article>

          <article>
            <h2 class="article-title">
              <a href="">CONTACT</a>
            </h2>
            <p class="text">
              なにかお問い合わせがありましたら、こちらまでお願いします。
              → {{ email }}
            </p>
          </article>
        </main>
{% endblock %}