<!DOCTYPE html>
{% load static %}

<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <title>MosCafe</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'polls/style_articles.css' %}"
    />

    <meta
      name="description"
      content="テキストテキストテキストテキストテキストテキストテキストテキス"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="shortcut icon" href="{% static 'polls/img/saite_logo.png' %}" />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap"
      rel="stylesheet"
    />
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=G-2QWC1P8ZTE"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-2QWC1P8ZTE");
    </script>
  </head>

  <body>
    <header id="header">
      <div class="yoko">
      <a href="{% url 'polls:profile' %}"
        ><img src="{% static 'polls/img/saite_logo.png' %}" alt="Profile"
      /></a>
      <h1>MosCafe</h1>
      <h3>
        危険を冒して前へ進もうとしない人、未知の世界を旅しようとしない人には、 人生は、ごくわずかな景色しか見せてくれないんだよ。    - シドニー・ポワチエ -
      </h3>
      </div>
 
      
      <nav id="navi">
        <ul class="wrapper">
          <li><a href="{% url 'polls:index' %}">HOME</a></li>
          <li class="menu__single"><a href="{% url 'polls:articles' %}">ARTICLES</a>
            {% comment %} <ul class="menu__second-level">
              <li><a href="#">Child Menu</a></li>
              <li><a href="#">Child Menu</a></li>
              <li><a href="#">Child Menu</a></li>
          </ul> {% endcomment %}
          </li>
          <li><a href="{% url 'polls:profile' %}">CONTACT</a></li>
        </ul>
      </nav>
      {% comment %} <ul class="menu">
        <li class="menu__single">
            <a href="#" class="init-bottom">Menu single</a>
            <ul class="menu__second-level">
                <li><a href="#">Child Menu</a></li>
                <li><a href="#">Child Menu</a></li>
                <li><a href="#">Child Menu</a></li>
            </ul>
        </li>
        <!-- 他グローバルナビメニュー省略 -->
    </ul> {% endcomment %}
    </header>

    <div id="pickup" class="wrapper"></div>

    <div class="other-body">
      <div id="container" class="wrapper">
        
          {% block mainblock %}
          {% endblock %}

        <aside id="sidebar">
          <section class="author">
            <img src="{% static 'polls/img/hati.jpeg' %}" />
            <h3 class="side-title">BARA</h3>
            <p class="profile">
              IT業界の隅に生息しているネコです。会計のことも少しわかります。
            </p>
          </section>

          <section class="genre">
            <h3 class="side-title">Genre</h3>

            <div class="genre_button_group">
              {% if genre_list %}
              {% for genre in genre_list %}
              <input class="genre_button" type="button" onClick="location.href='{% url 'polls:articles_genre' genre %}'" value="{{ genre }}">
            {% endfor %}
              {% endif %}
            </div>
          </section>



          <section class="ranking">
            <h3 class="side-title">Ranking</h3>
            {% if ranking_list %} {% for topic in ranking_list %}
            <article>
              <a href="{% url 'polls:detail' topic.id %}">
                <h3 class="article-title">
                  <span>{{ topic.title }}</span>
                  <div class="ranking_nice">
                  <h5>{{ topic.nice }}いいね</h5>
                  </div>
                </h3>
                
              </a>
            </article>
            {% endfor %} {% endif %}
          </section>

          <section class="archive">
            <h3 class="side-title">Archive</h3>
            <ul>
              <li><a href="#">XXXX年XX月</a>(XX)</li>
              <li><a href="#">XXXX年XX月</a>(XX)</li>
              <li><a href="#">XXXX年XX月</a>(XX)</li>
              <li><a href="#">XXXX年XX月</a>(XX)</li>
              <li><a href="#">XXXX年XX月</a>(XX)</li>
              <li><a href="#">XXXX年XX月</a>(XX)</li>
              <li><a href="#">XXXX年XX月</a>(XX)</li>
              <li><a href="#">XXXX年XX月</a>(XX)</li>
              <li><a href="#">XXXX年XX月</a>(XX)</li>
              <li><a href="#">XXXX年XX月</a>(XX)</li>
              <li><a href="#">XXXX年XX月</a>(XX)</li>
              <li><a href="#">XXXX年XX月</a>(XX)</li>
              <li><a href="#">XXXX年XX月</a>(XX)</li>
              <li><a href="#">XXXX年XX月</a>(XX)</li>
              <li><a href="#">XXXX年XX月</a>(XX)</li>
            </ul>
          </section>
        </aside>
      </div>
    </div>

    <footer id="footer">
      <div class="content wrapper">
        <section class="item">
          <h3 class="footer-title">About</h3>
          <p>IT業界の隅に生息しているネコです。会計のことも少しわかります。</p>
          <ul class="about-list">
            <li><a href="{% url 'polls:profile' %}" class="arrow">プロフィール詳細</a></li>
            <li><a href="{% url 'polls:profile' %}" class="arrow">お問い合わせ</a></li>
          </ul>
        </section>

        <section class="item">
          <h3 class="footer-title">Menu</h3>
          <ul class="menu-list">
            <li><a href="{% url 'polls:index' %}">HOME</a></li>
            <li><a href="{% url 'polls:articles' %}">ARTICLES</a></li>
            <li><a href="{% url 'polls:profile' %}">CONTACT</a></li>
          </ul>
        </section>

        <section class="item">
          <h3 class="footer-title">Twitter</h3>
          <a
            class="twitter-timeline"
            data-height="315"
            href="https://twitter.com/TwitterJP?ref_src=twsrc%5Etfw"
            >Tweets by TwitterJP</a
          >
          <script async src="https://platform.twitter.com/widgets.js"></script>
        </section>
      </div>

      <p class="copyright">&copy; Travel & Blog</p>
    </footer>
  </body>
</html>
